.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.key {
  font-weight: 700;
  display: block;
}

.value {
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 0.3em;
}
