@use "/src/scss/utilities.scss";

.header {
  padding: 2.25rem 0;
}

.logo {
  font-size: 1.56rem;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.nav {
  @include utilities.container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
