@use "/src/scss/utilities.scss";

.home {
  background-image: url(/src/assets/homebg.png);
  background-size: cover;
  padding: 4rem 0;
  flex-grow: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  @include utilities.container;
}

.title {
  margin-bottom: 1.375rem;
}

.button {
  margin-top: 3.1rem;
  display: block;
  width: 100%;
}
