@use "/src/scss/utilities";

.navList {
  @include utilities.reset-list;

  display: flex;
  align-items: center;
  gap: 0.81rem;
}

.navLink {
  color: rgba(77, 77, 77, 1);
  text-decoration: none;
}
.navLink:hover {
  text-decoration: underline;
}
