@use "/src/scss/utilities";

.van {
  cursor: pointer;
  font-size: 1rem;
  transition: all 300ms;
}

.van:hover {
  filter: brightness(1.1);
}

.vanLink {
  text-decoration: none;
  color: inherit;
}

.img {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
}

.name {
  font-size: 1.25em;
  margin-bottom: 0.8rem;
}

.content {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 1.25em;
  font-weight: 600;
}

.priceText {
  @include utilities.font-weight-500;
  font-size: 0.875em;
  display: block;
}
